<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 75% }
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDtYUYuYFNuOocw8X-xEUjD1a6sUduDDg">
</script>
<script type="text/javascript">
  
  var aircraft_type_assignments={a380:["A388","A380","A389"],b747:"B741 B742 B743 B744 B74F B74S B748 BCLF BLCF".split(" "),a320:["A318","A319","A320","A321"],b737:"B731 B732 B733 B734 B735 B736 B737 B738 B739 E170 E190 A300 A30B A306 A310 SU95".split(" "),b777:["B772","B773","B77F","B77L","B77W"],b757:["B752","B753","T204","T214"],b767:["B762","B763","B764"],a330:"A332 A333 A359 B788 B789 A3ST".split(" "),a343:"A342 A343 IL76 IL86 IL96 K35R A124".split(" "),a346:["A345","A346"],rjx:"RJ1H RJ70 RJ85 B461 B462 B463 A148 A148 A158".split(" "),
md11:["MD11","DC10"],helo:"A109 A139 A149 A189 AS32 AS3B AS50 AS55 AS65 B407 B412 B427 B429 B430 EC20 EC25 EC30 EC35 EC45 EC55 H269 R44 S61 S76 S92".split(" "),md80:"MD80 MD81 MD82 MD83 MD87 MD88 MD90 B712 B717 B722 CRJ CRJX CRJ1 CRJ2 CRJ7 CRJ9 DC91 DC93 DC95 E45X E135 E145 F70 F100 T154 YK42".split(" "),sb20:"SB20 SF34 AN26 ATP AT42 AT72 AT43 AT44 AT45 AT46 AT73 AT74 AT75 AT76 B190 B350 BE99 C130 CVLP CVLT D228 D328 DC3 DC3T DC6 DHC6 DHC7 DH8A DH8B DH8C DH8D E110 E120 F50 G159 JS31 JS32 JS41 SH33 SH36 SW4 J328 AC50 AC90 AC95 AEST BE10 BE20 BE30 BE50 BE55 BE56 BE58 BE60 BE65 BE76 BE80 BE95 BE96 BE9L BE9T C303 C310 C320 C340 C402 C404 C414 C421 C425 C441 C21T DA42 MU2 PA23 PA27 PA30 PA31 PA34 PA44 PA60 PAY1 PAY2 PAY3 PAY4 P34A P180 SW2 SW3".split(" "),
lj45:"ASTR BE40 C500 C501 C510 C525 C25A C25B C25C C550 C551 C560 C56X C650 C680 C750 CL30 CL60 EA50 E50P E55P FA10 FA20 FA30 FA40 FA50 FA7X F900 F2TH GALX GLF2 GLF3 GLF4 GLF5 GL5T GLF6 GLEX G150 G200 G250 G280 HA4T H25B H25X H25C LJ25 LJ31 LJ35 LJ36 LJ40 LJ45 LJ55 LJ60 LJ85 LRJ MU30 PRM1 SBR1 SBR2 WW24".split(" "),c172:"AA5 AC11 BE23 BE24 BE33 BE35 BE36 C10T C42 C77R C82R C150 C152 C160 C162 C170 C172 C175 C177 C180 C182 C205 C206 C207 C208 C210 C337 COL3 COL4 DA40 DV20 EVOL FBA2 FDCT GA8 GLAS GP4 G58 G115 JAB4 KODI LNC2 LNC4 M20P M20T MO20 NAVI PA22 PA24 PA28 PA32 PA38 PA46 PC12 PC21 P28 P28A P28B P28R P32R P32T P46T P210 RV4 RV6 RV7 RV8 RV9 RV10 RV12 S208 SR20 SR22 TBM7 TBM8 TRIN Z42 WT9 GLID".split(" ")};

  var reverseMap = {};
  for (j in aircraft_type_assignments){
    if (!Object.prototype.hasOwnProperty.call(aircraft_type_assignments, j)) continue
      var types = aircraft_type_assignments[j];
      for (var i = 0; i < types.length; i++){
        reverseMap[types[i]] = j;
      }
  }

  var sprite_list={"small":{
"default":{
"180":[17,18,0,0,8,8],"195":[17,18,48,0,8,8],"210":[16,18,96,0,8,8],"225":[15,17,144,0,7,8],"240":[16,17,192,0,8,8],"255":[17,17,240,0,8,8],"270":[17,17,288,0,8,8],"285":[18,17,336,0,9,8],"300":[17,16,384,0,8,7],"315":[15,16,432,0,7,7],"330":[16,18,480,0,8,8],"345":[17,18,528,0,8,8],"0":[16,18,576,0,8,8],"15":[16,18,624,0,8,8],"30":[15,17,672,0,7,8],"45":[16,16,720,0,8,7],"60":[17,16,768,0,8,7],"75":[17,17,816,0,8,8],"90":[18,18,864,0,9,8],"105":[17,17,912,0,8,8],"120":[16,17,960,0,8,8],"135":[15,16,1008,0,7,7],"150":[15,19,1056,0,7,9],"165":[16,19,1104,0,8,9],"unknown":[15,16,1152,0,6,8]},"a380":{
"180":[23,22,0,48,11,10],"195":[22,22,48,48,11,10],"210":[21,22,96,48,10,10],"225":[18,20,144,48,9,9],"240":[21,21,192,48,10,10],"255":[21,23,240,48,10,11],"270":[21,23,288,48,10,11],"285":[20,23,336,48,10,11],"300":[20,21,384,48,10,10],"315":[19,20,432,48,9,9],"330":[20,21,480,48,10,10],"345":[22,21,528,48,11,10],"0":[23,21,576,48,11,10],"15":[23,22,624,48,11,10],"30":[21,21,672,48,10,10],"45":[19,20,720,48,9,9],"60":[20,21,768,48,10,10],"75":[21,23,816,48,10,11],"90":[21,24,864,48,10,11],"105":[21,23,912,48,10,11],"120":[20,21,960,48,10,10],"135":[19,20,1008,48,9,9],"150":[21,21,1056,48,10,10],"165":[22,22,1104,48,11,10]},"b747":{
"180":[19,21,0,96,9,10],"195":[18,21,48,96,9,10],"210":[17,20,96,96,8,9],"225":[17,19,144,96,8,9],"240":[19,18,192,96,9,8],"255":[20,20,240,96,10,9],"270":[20,20,288,96,10,9],"285":[20,18,336,96,10,8],"300":[20,18,384,96,10,8],"315":[18,18,432,96,9,8],"330":[17,20,480,96,8,9],"345":[18,21,528,96,9,10],"0":[19,21,576,96,9,10],"15":[19,20,624,96,9,9],"30":[17,20,672,96,8,9],"45":[17,18,720,96,8,8],"60":[19,18,768,96,9,8],"75":[20,19,816,96,10,9],"90":[20,19,864,96,10,9],"105":[19,19,912,96,9,9],"120":[19,18,960,96,9,8],"135":[17,18,1008,96,8,8],"150":[17,20,1056,96,8,9],"165":[18,21,1104,96,9,10]},"a320":{
"180":[17,19,0,144,8,9],"195":[16,19,48,144,8,9],"210":[16,18,96,144,8,8],"225":[16,17,144,144,8,8],"240":[17,17,192,144,8,8],"255":[19,17,240,144,9,8],"270":[18,18,288,144,9,8],"285":[19,18,336,144,9,8],"300":[17,16,384,144,8,7],"315":[16,16,432,144,8,7],"330":[16,18,480,144,8,8],"345":[16,19,528,144,8,9],"0":[18,19,576,144,9,9],"15":[17,19,624,144,8,9],"30":[15,19,672,144,7,9],"45":[16,16,720,144,8,7],"60":[17,16,768,144,8,7],"75":[18,18,816,144,9,8],"90":[18,18,864,144,9,8],"105":[18,17,912,144,9,8],"120":[18,17,960,144,9,8],"135":[15,17,1008,144,7,8],"150":[15,19,1056,144,7,9],"165":[17,19,1104,144,8,9]},"b737":{
"180":[17,19,0,192,8,9],"195":[17,19,48,192,8,9],"210":[16,19,96,192,8,9],"225":[16,17,144,192,8,8],"240":[17,16,192,192,8,7],"255":[18,18,240,192,9,8],"270":[19,19,288,192,9,9],"285":[18,18,336,192,9,8],"300":[18,17,384,192,9,8],"315":[16,17,432,192,8,8],"330":[16,18,480,192,8,8],"345":[17,19,528,192,8,9],"0":[17,20,576,192,8,9],"15":[17,20,624,192,8,9],"30":[16,19,672,192,8,9],"45":[16,17,720,192,8,8],"60":[18,17,768,192,9,8],"75":[18,18,816,192,9,8],"90":[18,18,864,192,9,8],"105":[18,18,912,192,9,8],"120":[17,16,960,192,8,7],"135":[16,17,1008,192,8,8],"150":[16,19,1056,192,8,9],"165":[17,20,1104,192,8,9]},"b777":{
"180":[19,22,0,240,9,10],"195":[18,22,48,240,9,10],"210":[17,21,96,240,8,10],"225":[18,19,144,240,9,9],"240":[20,18,192,240,10,8],"255":[21,19,240,240,10,9],"270":[21,19,288,240,10,9],"285":[21,19,336,240,10,9],"300":[20,18,384,240,10,8],"315":[18,19,432,240,9,9],"330":[17,21,480,240,8,10],"345":[18,22,528,240,9,10],"0":[18,22,576,240,9,10],"15":[18,22,624,240,9,10],"30":[17,21,672,240,8,10],"45":[18,19,720,240,9,9],"60":[21,18,768,240,10,8],"75":[22,19,816,240,11,9],"90":[21,19,864,240,10,9],"105":[21,19,912,240,10,9],"120":[20,17,960,240,10,8],"135":[18,19,1008,240,9,9],"150":[17,21,1056,240,8,10],"165":[18,22,1104,240,9,10]},"b757":{
"180":[18,22,0,288,9,10],"195":[17,22,48,288,8,10],"210":[16,21,96,288,8,10],"225":[18,19,144,288,9,9],"240":[20,17,192,288,10,8],"255":[21,19,240,288,10,9],"270":[21,19,288,288,10,9],"285":[21,18,336,288,10,8],"300":[20,17,384,288,10,8],"315":[18,19,432,288,9,9],"330":[16,21,480,288,8,10],"345":[17,22,528,288,8,10],"0":[18,22,576,288,9,10],"15":[18,22,624,288,9,10],"30":[17,21,672,288,8,10],"45":[18,19,720,288,9,9],"60":[20,17,768,288,10,8],"75":[21,19,816,288,10,9],"90":[21,18,864,288,10,8],"105":[21,19,912,288,10,9],"120":[20,17,960,288,10,8],"135":[18,19,1008,288,9,9],"150":[17,21,1056,288,8,10],"165":[18,22,1104,288,9,10]},"b767":{
"180":[20,24,0,336,10,11],"195":[20,24,48,336,10,11],"210":[18,23,96,336,9,11],"225":[20,20,144,336,10,9],"240":[21,19,192,336,10,9],"255":[23,21,240,336,11,10],"270":[22,22,288,336,11,10],"285":[23,21,336,336,11,10],"300":[22,20,384,336,11,9],"315":[19,20,432,336,9,9],"330":[18,23,480,336,9,11],"345":[20,23,528,336,10,11],"0":[21,23,576,336,10,11],"15":[20,23,624,336,10,11],"30":[18,22,672,336,9,10],"45":[19,20,720,336,9,9],"60":[22,20,768,336,11,9],"75":[23,21,816,336,11,10],"90":[22,21,864,336,11,10],"105":[22,21,912,336,11,10],"120":[21,20,960,336,10,9],"135":[19,21,1008,336,9,10],"150":[18,22,1056,336,9,10],"165":[20,24,1104,336,10,11]},"a330":{
"180":[21,24,0,384,10,11],"195":[20,24,48,384,10,11],"210":[19,22,96,384,9,10],"225":[20,21,144,384,10,10],"240":[21,20,192,384,10,9],"255":[23,21,240,384,11,10],"270":[23,22,288,384,11,10],"285":[23,21,336,384,11,10],"300":[22,20,384,384,11,9],"315":[20,21,432,384,10,10],"330":[19,22,480,384,9,10],"345":[20,23,528,384,10,11],"0":[21,24,576,384,10,11],"15":[20,24,624,384,10,11],"30":[19,23,672,384,9,11],"45":[20,21,720,384,10,10],"60":[22,20,768,384,11,9],"75":[23,21,816,384,11,10],"90":[23,22,864,384,11,10],"105":[22,21,912,384,11,10],"120":[21,20,960,384,10,9],"135":[20,21,1008,384,10,10],"150":[19,23,1056,384,9,11],"165":[21,24,1104,384,10,11]},"a343":{
"180":[21,24,0,432,10,11],"195":[20,24,48,432,10,11],"210":[19,23,96,432,9,11],"225":[20,21,144,432,10,10],"240":[22,20,192,432,11,9],"255":[23,22,240,432,11,10],"270":[23,23,288,432,11,11],"285":[23,22,336,432,11,10],"300":[22,20,384,432,11,9],"315":[20,20,432,432,10,9],"330":[19,23,480,432,9,11],"345":[21,24,528,432,10,11],"0":[21,24,576,432,10,11],"15":[20,24,624,432,10,11],"30":[19,23,672,432,9,11],"45":[20,20,720,432,10,9],"60":[21,20,768,432,10,9],"75":[23,21,816,432,11,10],"90":[23,22,864,432,11,10],"105":[23,22,912,432,11,10],"120":[22,20,960,432,11,9],"135":[20,20,1008,432,10,9],"150":[19,23,1056,432,9,11],"165":[20,24,1104,432,10,11]},"a346":{
"180":[20,24,0,480,10,11],"195":[19,25,48,480,9,12],"210":[18,23,96,480,9,11],"225":[20,21,144,480,10,10],"240":[22,20,192,480,11,9],"255":[24,21,240,480,12,10],"270":[24,22,288,480,12,10],"285":[24,21,336,480,12,10],"300":[23,19,384,480,11,9],"315":[20,21,432,480,10,10],"330":[18,24,480,480,9,11],"345":[19,25,528,480,9,12],"0":[20,25,576,480,10,12],"15":[19,25,624,480,9,12],"30":[18,24,672,480,9,11],"45":[20,21,720,480,10,10],"60":[23,19,768,480,11,9],"75":[24,20,816,480,12,9],"90":[24,21,864,480,12,10],"105":[23,21,912,480,11,10],"120":[22,20,960,480,11,9],"135":[21,21,1008,480,10,10],"150":[18,24,1056,480,9,11],"165":[20,25,1104,480,10,12]},"rjx":{
"180":[16,18,0,528,8,8],"195":[16,18,48,528,8,8],"210":[15,17,96,528,7,8],"225":[15,16,144,528,7,7],"240":[16,16,192,528,8,7],"255":[17,17,240,528,8,8],"270":[17,17,288,528,8,8],"285":[17,17,336,528,8,8],"300":[16,15,384,528,8,7],"315":[15,16,432,528,7,7],"330":[15,17,480,528,7,8],"345":[16,18,528,528,8,8],"0":[16,18,576,528,8,8],"15":[16,18,624,528,8,8],"30":[15,17,672,528,7,8],"45":[15,16,720,528,7,7],"60":[16,16,768,528,8,7],"75":[17,17,816,528,8,8],"90":[17,17,864,528,8,8],"105":[17,17,912,528,8,8],"120":[16,16,960,528,8,7],"135":[15,16,1008,528,7,7],"150":[15,17,1056,528,7,8],"165":[16,18,1104,528,8,8]},"md11":{
"180":[21,25,0,576,10,12],"195":[20,24,48,576,10,11],"210":[19,22,96,576,9,10],"225":[20,21,144,576,10,10],"240":[22,20,192,576,11,9],"255":[23,22,240,576,11,10],"270":[24,22,288,576,12,10],"285":[22,21,336,576,11,10],"300":[22,20,384,576,11,9],"315":[20,22,432,576,10,10],"330":[19,22,480,576,9,10],"345":[21,24,528,576,10,11],"0":[21,24,576,576,10,11],"15":[21,24,624,576,10,11],"30":[19,23,672,576,9,11],"45":[21,21,720,576,10,10],"60":[21,20,768,576,10,9],"75":[23,21,816,576,11,10],"90":[23,21,864,576,11,10],"105":[23,21,912,576,11,10],"120":[22,20,960,576,11,9],"135":[21,21,1008,576,10,10],"150":[19,23,1056,576,9,11],"165":[20,24,1104,576,10,11]},"helo":{
"180":[11,14,0,624,5,6],"195":[12,15,48,624,6,7],"210":[13,14,96,624,6,6],"225":[13,14,144,624,6,6],"240":[14,13,192,624,7,6],"255":[14,13,240,624,7,6],"270":[13,12,288,624,6,5],"285":[14,13,336,624,7,6],"300":[13,13,384,624,6,6],"315":[13,15,432,624,6,7],"330":[13,14,480,624,6,6],"345":[12,15,528,624,6,7],"0":[10,14,576,624,5,6],"15":[11,15,624,624,5,7],"30":[12,14,672,624,6,6],"45":[13,14,720,624,6,6],"60":[13,13,768,624,6,6],"75":[14,13,816,624,7,6],"90":[13,12,864,624,6,5],"105":[13,13,912,624,6,6],"120":[14,13,960,624,7,6],"135":[13,15,1008,624,6,7],"150":[12,14,1056,624,6,6],"165":[11,15,1104,624,5,7]},"md80":{
"180":[16,20,0,672,8,9],"195":[16,21,48,672,8,10],"210":[15,20,96,672,7,9],"225":[17,18,144,672,8,8],"240":[18,17,192,672,9,8],"255":[20,17,240,672,10,8],"270":[20,18,288,672,10,8],"285":[19,17,336,672,9,8],"300":[18,16,384,672,9,7],"315":[17,18,432,672,8,8],"330":[15,20,480,672,7,9],"345":[17,21,528,672,8,10],"0":[16,21,576,672,8,10],"15":[16,21,624,672,8,10],"30":[15,20,672,672,7,9],"45":[17,17,720,672,8,8],"60":[18,16,768,672,9,7],"75":[19,17,816,672,9,8],"90":[20,18,864,672,10,8],"105":[19,17,912,672,9,8],"120":[19,17,960,672,9,8],"135":[17,18,1008,672,8,8],"150":[15,20,1056,672,7,9],"165":[17,21,1104,672,8,10]},"sb20":{
"180":[14,16,0,720,7,7],"195":[14,16,48,720,7,7],"210":[13,16,96,720,6,7],"225":[13,14,144,720,6,6],"240":[14,14,192,720,7,6],"255":[15,16,240,720,7,7],"270":[16,16,288,720,8,7],"285":[15,16,336,720,7,7],"300":[14,14,384,720,7,6],"315":[13,14,432,720,6,6],"330":[14,16,480,720,7,7],"345":[14,16,528,720,7,7],"0":[14,16,576,720,7,7],"15":[14,16,624,720,7,7],"30":[14,16,672,720,7,7],"45":[13,14,720,720,6,6],"60":[14,14,768,720,7,6],"75":[16,16,816,720,8,7],"90":[16,16,864,720,8,7],"105":[16,16,912,720,8,7],"120":[14,14,960,720,7,6],"135":[13,15,1008,720,6,7],"150":[14,16,1056,720,7,7],"165":[14,16,1104,720,7,7]},"c172":{
"180":[13,12,0,768,6,5],"195":[14,13,48,768,7,6],"210":[13,14,96,768,6,6],"225":[12,13,144,768,6,6],"240":[12,14,192,768,6,6],"255":[12,15,240,768,6,7],"270":[12,15,288,768,6,7],"285":[12,14,336,768,6,6],"300":[12,14,384,768,6,6],"315":[12,13,432,768,6,6],"330":[13,13,480,768,6,6],"345":[14,13,528,768,7,6],"0":[14,13,576,768,7,6],"15":[13,13,624,768,6,6],"30":[12,13,672,768,6,6],"45":[12,14,720,768,6,6],"60":[12,14,768,768,6,6],"75":[12,14,816,768,6,6],"90":[12,15,864,768,6,7],"105":[12,15,912,768,6,7],"120":[12,14,960,768,6,6],"135":[12,14,1008,768,6,6],"150":[12,13,1056,768,6,6],"165":[14,12,1104,768,7,5]},"lj45":{
"180":[12,15,0,816,6,7],"195":[12,16,48,816,6,7],"210":[11,14,96,816,5,6],"225":[13,13,144,816,6,6],"240":[14,13,192,816,7,6],"255":[14,13,240,816,7,6],"270":[15,14,288,816,7,6],"285":[15,14,336,816,7,6],"300":[14,13,384,816,7,6],"315":[13,14,432,816,6,6],"330":[11,14,480,816,5,6],"345":[12,15,528,816,6,7],"0":[12,15,576,816,6,7],"15":[12,15,624,816,6,7],"30":[11,15,672,816,5,7],"45":[13,14,720,816,6,6],"60":[14,13,768,816,7,6],"75":[14,13,816,816,7,6],"90":[15,14,864,816,7,6],"105":[14,13,912,816,7,6],"120":[14,13,960,816,7,6],"135":[13,13,1008,816,6,6],"150":[11,15,1056,816,5,7],"165":[12,16,1104,816,6,7]}},"normal":{
"default":{
"180":[20,22,0,0,10,10],"195":[20,23,48,0,10,11],"210":[18,22,96,0,9,10],"225":[19,20,144,0,9,9],"240":[20,19,192,0,10,9],"255":[22,21,240,0,11,10],"270":[21,21,288,0,10,10],"285":[22,21,336,0,11,10],"300":[21,20,384,0,10,9],"315":[19,20,432,0,9,9],"330":[18,22,480,0,9,10],"345":[20,23,528,0,10,11],"0":[21,22,576,0,10,10],"15":[20,22,624,0,10,10],"30":[19,21,672,0,9,10],"45":[19,19,720,0,9,9],"60":[21,20,768,0,10,9],"75":[21,21,816,0,10,10],"90":[22,22,864,0,11,10],"105":[21,21,912,0,10,10],"120":[20,20,960,0,10,9],"135":[19,20,1008,0,9,9],"150":[19,22,1056,0,9,10],"165":[20,23,1104,0,10,11],"unknown":[18,20,1152,0,8,9]},"a380":{
"180":[34,33,0,48,17,16],"195":[33,33,48,48,16,16],"210":[31,32,96,48,15,15],"225":[28,29,144,48,14,14],"240":[31,32,192,48,15,15],"255":[32,35,240,48,16,17],"270":[31,35,288,48,15,17],"285":[32,35,336,48,16,17],"300":[30,31,384,48,15,15],"315":[29,30,432,48,14,14],"330":[31,32,480,48,15,15],"345":[33,33,528,48,16,16],"0":[34,33,576,48,17,16],"15":[33,33,624,48,16,16],"30":[31,32,672,48,15,15],"45":[28,29,720,48,14,14],"60":[31,31,768,48,15,15],"75":[33,34,816,48,16,16],"90":[31,36,864,48,15,17],"105":[32,35,912,48,16,17],"120":[31,32,960,48,15,15],"135":[29,30,1008,48,14,14],"150":[31,31,1056,48,15,15],"165":[34,33,1104,48,17,16]},"b747":{
"180":[28,31,0,96,14,15],"195":[27,31,48,96,13,15],"210":[25,29,96,96,12,14],"225":[26,27,144,96,13,13],"240":[29,26,192,96,14,12],"255":[31,28,240,96,15,13],"270":[30,28,288,96,15,13],"285":[30,28,336,96,15,13],"300":[28,26,384,96,14,12],"315":[26,26,432,96,13,12],"330":[25,30,480,96,12,14],"345":[27,31,528,96,13,15],"0":[27,31,576,96,13,15],"15":[27,32,624,96,13,15],"30":[25,29,672,96,12,14],"45":[25,26,720,96,12,12],"60":[29,26,768,96,14,12],"75":[30,28,816,96,15,13],"90":[30,29,864,96,15,14],"105":[31,28,912,96,15,13],"120":[29,26,960,96,14,12],"135":[26,27,1008,96,13,13],"150":[25,30,1056,96,12,14],"165":[27,32,1104,96,13,15]},"a320":{
"180":[21,24,0,144,10,11],"195":[21,23,48,144,10,11],"210":[20,22,96,144,10,10],"225":[20,21,144,144,10,10],"240":[21,21,192,144,10,10],"255":[22,22,240,144,11,10],"270":[23,22,288,144,11,10],"285":[22,21,336,144,11,10],"300":[21,20,384,144,10,9],"315":[20,20,432,144,10,9],"330":[20,22,480,144,10,10],"345":[20,23,528,144,10,11],"0":[21,23,576,144,10,11],"15":[21,23,624,144,10,11],"30":[20,22,672,144,10,10],"45":[20,21,720,144,10,10],"60":[21,20,768,144,10,9],"75":[22,21,816,144,11,10],"90":[23,22,864,144,11,10],"105":[22,22,912,144,11,10],"120":[21,21,960,144,10,10],"135":[20,21,1008,144,10,10],"150":[20,22,1056,144,10,10],"165":[21,23,1104,144,10,11]},"b737":{
"180":[21,24,0,192,10,11],"195":[21,24,48,192,10,11],"210":[20,23,96,192,10,11],"225":[19,21,144,192,9,10],"240":[22,21,192,192,11,10],"255":[23,22,240,192,11,10],"270":[23,22,288,192,11,10],"285":[23,22,336,192,11,10],"300":[22,20,384,192,11,9],"315":[20,20,432,192,10,9],"330":[20,23,480,192,10,11],"345":[21,24,528,192,10,11],"0":[22,24,576,192,11,11],"15":[21,23,624,192,10,11],"30":[20,23,672,192,10,11],"45":[20,21,720,192,10,10],"60":[22,20,768,192,11,9],"75":[23,22,816,192,11,10],"90":[22,23,864,192,11,11],"105":[23,22,912,192,11,10],"120":[22,21,960,192,11,10],"135":[20,21,1008,192,10,10],"150":[20,23,1056,192,10,11],"165":[21,24,1104,192,10,11]},"b777":{
"180":[26,31,0,240,13,15],"195":[25,31,48,240,12,15],"210":[23,29,96,240,11,14],"225":[25,27,144,240,12,13],"240":[28,24,192,240,14,11],"255":[30,26,240,240,15,12],"270":[30,26,288,240,15,12],"285":[30,26,336,240,15,12],"300":[28,24,384,240,14,11],"315":[25,26,432,240,12,12],"330":[23,30,480,240,11,14],"345":[25,31,528,240,12,15],"0":[26,31,576,240,13,15],"15":[25,31,624,240,12,15],"30":[23,29,672,240,11,14],"45":[25,27,720,240,12,13],"60":[28,24,768,240,14,11],"75":[30,26,816,240,15,12],"90":[30,26,864,240,15,12],"105":[30,26,912,240,15,12],"120":[28,24,960,240,14,11],"135":[25,26,1008,240,12,12],"150":[23,30,1056,240,11,14],"165":[25,31,1104,240,12,15]},"b757":{
"180":[23,27,0,288,11,13],"195":[22,27,48,288,11,13],"210":[20,26,96,288,10,12],"225":[22,24,144,288,11,11],"240":[25,22,192,288,12,10],"255":[26,23,240,288,13,11],"270":[26,23,288,288,13,11],"285":[27,23,336,288,13,11],"300":[25,21,384,288,12,10],"315":[22,23,432,288,11,11],"330":[20,26,480,288,10,12],"345":[22,27,528,288,11,13],"0":[23,27,576,288,11,13],"15":[22,28,624,288,11,13],"30":[21,26,672,288,10,12],"45":[23,23,720,288,11,11],"60":[25,21,768,288,12,10],"75":[26,23,816,288,13,11],"90":[27,24,864,288,13,11],"105":[26,23,912,288,13,11],"120":[25,22,960,288,12,10],"135":[22,24,1008,288,11,11],"150":[21,26,1056,288,10,12],"165":[22,27,1104,288,11,13]},"b767":{
"180":[26,29,0,336,13,14],"195":[25,30,48,336,12,14],"210":[23,28,96,336,11,13],"225":[24,25,144,336,12,12],"240":[27,24,192,336,13,11],"255":[28,26,240,336,14,12],"270":[28,26,288,336,14,12],"285":[29,26,336,336,14,12],"300":[27,24,384,336,13,11],"315":[24,25,432,336,12,12],"330":[23,28,480,336,11,13],"345":[25,29,528,336,12,14],"0":[25,29,576,336,12,14],"15":[25,29,624,336,12,14],"30":[24,28,672,336,12,13],"45":[25,25,720,336,12,12],"60":[27,24,768,336,13,11],"75":[28,26,816,336,14,12],"90":[29,27,864,336,14,13],"105":[28,26,912,336,14,12],"120":[27,24,960,336,13,11],"135":[24,25,1008,336,12,12],"150":[23,28,1056,336,11,13],"165":[25,29,1104,336,12,14]},"a330":{
"180":[27,30,0,384,13,14],"195":[26,30,48,384,13,14],"210":[24,28,96,384,12,13],"225":[24,25,144,384,12,12],"240":[28,25,192,384,14,12],"255":[30,27,240,384,15,13],"270":[29,28,288,384,14,13],"285":[29,27,336,384,14,13],"300":[27,25,384,384,13,12],"315":[24,25,432,384,12,12],"330":[24,28,480,384,12,13],"345":[27,30,528,384,13,14],"0":[27,30,576,384,13,14],"15":[26,30,624,384,13,14],"30":[24,29,672,384,12,14],"45":[24,25,720,384,12,12],"60":[27,25,768,384,13,12],"75":[29,27,816,384,14,13],"90":[29,28,864,384,14,13],"105":[29,27,912,384,14,13],"120":[28,25,960,384,14,12],"135":[24,26,1008,384,12,12],"150":[24,29,1056,384,12,14],"165":[27,30,1104,384,13,14]},"a343":{
"180":[27,30,0,432,13,14],"195":[26,30,48,432,13,14],"210":[24,29,96,432,12,14],"225":[25,26,144,432,12,12],"240":[28,25,192,432,14,12],"255":[29,27,240,432,14,13],"270":[29,27,288,432,14,13],"285":[29,27,336,432,14,13],"300":[27,24,384,432,13,11],"315":[25,25,432,432,12,12],"330":[24,29,480,432,12,14],"345":[26,30,528,432,13,14],"0":[26,30,576,432,13,14],"15":[26,30,624,432,13,14],"30":[24,28,672,432,12,13],"45":[24,26,720,432,12,12],"60":[27,24,768,432,13,11],"75":[29,27,816,432,14,13],"90":[29,28,864,432,14,13],"105":[29,27,912,432,14,13],"120":[28,25,960,432,14,12],"135":[25,26,1008,432,12,12],"150":[24,29,1056,432,12,14],"165":[26,30,1104,432,13,14]},"a346":{
"180":[26,33,0,480,13,16],"195":[26,33,48,480,13,16],"210":[24,31,96,480,12,15],"225":[26,27,144,480,13,13],"240":[30,25,192,480,15,12],"255":[32,27,240,480,16,13],"270":[32,28,288,480,16,13],"285":[32,27,336,480,16,13],"300":[30,25,384,480,15,12],"315":[27,27,432,480,13,13],"330":[24,32,480,480,12,15],"345":[26,33,528,480,13,16],"0":[27,33,576,480,13,16],"15":[26,33,624,480,13,16],"30":[24,31,672,480,12,15],"45":[27,27,720,480,13,13],"60":[30,25,768,480,15,12],"75":[32,27,816,480,16,13],"90":[32,28,864,480,16,13],"105":[32,27,912,480,16,13],"120":[31,25,960,480,15,12],"135":[27,28,1008,480,13,13],"150":[24,31,1056,480,12,15],"165":[26,33,1104,480,13,16]},"rjx":{
"180":[20,22,0,528,10,10],"195":[20,22,48,528,10,10],"210":[18,21,96,528,9,10],"225":[19,20,144,528,9,9],"240":[20,19,192,528,10,9],"255":[21,21,240,528,10,10],"270":[21,21,288,528,10,10],"285":[21,21,336,528,10,10],"300":[20,19,384,528,10,9],"315":[19,19,432,528,9,9],"330":[18,21,480,528,9,10],"345":[20,22,528,528,10,10],"0":[20,22,576,528,10,10],"15":[20,22,624,528,10,10],"30":[18,21,672,528,9,10],"45":[18,20,720,528,9,9],"60":[20,19,768,528,10,9],"75":[21,21,816,528,10,10],"90":[21,21,864,528,10,10],"105":[21,21,912,528,10,10],"120":[20,19,960,528,10,9],"135":[19,19,1008,528,9,9],"150":[18,21,1056,528,9,10],"165":[20,22,1104,528,10,10]},"md11":{
"180":[27,31,0,576,13,15],"195":[26,31,48,576,13,15],"210":[23,28,96,576,11,13],"225":[26,26,144,576,13,12],"240":[27,25,192,576,13,12],"255":[29,27,240,576,14,13],"270":[30,27,288,576,15,13],"285":[29,26,336,576,14,12],"300":[27,25,384,576,13,12],"315":[25,26,432,576,12,12],"330":[23,28,480,576,11,13],"345":[25,30,528,576,12,14],"0":[26,31,576,576,13,15],"15":[25,30,624,576,12,14],"30":[24,28,672,576,12,13],"45":[25,26,720,576,12,12],"60":[28,25,768,576,14,12],"75":[30,27,816,576,15,13],"90":[30,27,864,576,15,13],"105":[29,27,912,576,14,13],"120":[27,25,960,576,13,12],"135":[26,27,1008,576,13,13],"150":[24,28,1056,576,12,13],"165":[26,30,1104,576,13,14]},"helo":{
"180":[13,17,0,624,6,8],"195":[14,17,48,624,7,8],"210":[15,18,96,624,7,8],"225":[16,17,144,624,8,8],"240":[17,16,192,624,8,7],"255":[17,15,240,624,8,7],"270":[16,14,288,624,8,6],"285":[16,15,336,624,8,7],"300":[17,16,384,624,8,7],"315":[16,17,432,624,8,8],"330":[15,18,480,624,7,8],"345":[14,17,528,624,7,8],"0":[12,17,576,624,6,8],"15":[14,17,624,624,7,8],"30":[14,18,672,624,7,8],"45":[16,17,720,624,8,8],"60":[17,16,768,624,8,7],"75":[16,15,816,624,8,7],"90":[15,14,864,624,7,6],"105":[16,15,912,624,8,7],"120":[16,16,960,624,8,7],"135":[16,17,1008,624,8,8],"150":[14,18,1056,624,7,8],"165":[14,17,1104,624,7,8]},"md80":{
"180":[21,27,0,672,10,13],"195":[21,28,48,672,10,13],"210":[19,27,96,672,9,13],"225":[22,24,144,672,11,11],"240":[25,21,192,672,12,10],"255":[26,22,240,672,13,10],"270":[27,22,288,672,13,10],"285":[26,22,336,672,13,10],"300":[25,21,384,672,12,10],"315":[22,24,432,672,11,11],"330":[19,27,480,672,9,13],"345":[21,28,528,672,10,13],"0":[22,28,576,672,11,13],"15":[21,27,624,672,10,13],"30":[19,26,672,672,9,12],"45":[22,24,720,672,11,11],"60":[25,21,768,672,12,10],"75":[26,22,816,672,13,10],"90":[27,23,864,672,13,11],"105":[27,22,912,672,13,10],"120":[25,21,960,672,12,10],"135":[22,24,1008,672,11,11],"150":[19,26,1056,672,9,12],"165":[22,28,1104,672,11,13]},"sb20":{
"180":[18,20,0,720,9,9],"195":[18,20,48,720,9,9],"210":[17,19,96,720,8,9],"225":[17,17,144,720,8,8],"240":[18,18,192,720,9,8],"255":[19,20,240,720,9,9],"270":[20,20,288,720,10,9],"285":[19,19,336,720,9,9],"300":[18,18,384,720,9,8],"315":[16,17,432,720,8,8],"330":[17,19,480,720,8,9],"345":[18,20,528,720,9,9],"0":[18,21,576,720,9,10],"15":[18,20,624,720,9,9],"30":[17,19,672,720,8,9],"45":[17,18,720,720,8,8],"60":[18,18,768,720,9,8],"75":[20,19,816,720,10,9],"90":[20,20,864,720,10,9],"105":[20,20,912,720,10,9],"120":[18,18,960,720,9,8],"135":[17,17,1008,720,8,8],"150":[17,19,1056,720,8,9],"165":[18,20,1104,720,9,9]},"c172":{
"180":[17,15,0,768,8,7],"195":[18,16,48,768,9,7],"210":[17,17,96,768,8,8],"225":[16,17,144,768,8,8],"240":[15,18,192,768,7,8],"255":[14,19,240,768,7,9],"270":[14,19,288,768,7,9],"285":[15,19,336,768,7,9],"300":[15,18,384,768,7,8],"315":[16,17,432,768,8,8],"330":[17,16,480,768,8,7],"345":[18,15,528,768,9,7],"0":[18,15,576,768,9,7],"15":[18,16,624,768,9,7],"30":[17,16,672,768,8,7],"45":[16,17,720,768,8,8],"60":[15,18,768,768,7,8],"75":[15,19,816,768,7,9],"90":[15,18,864,768,7,8],"105":[15,19,912,768,7,9],"120":[16,18,960,768,8,8],"135":[16,17,1008,768,8,8],"150":[17,16,1056,768,8,7],"165":[18,15,1104,768,9,7]},"lj45":{
"180":[16,19,0,816,8,9],"195":[16,20,48,816,8,9],"210":[15,19,96,816,7,9],"225":[15,17,144,816,7,8],"240":[18,16,192,816,9,7],"255":[18,17,240,816,9,8],"270":[19,17,288,816,9,8],"285":[19,18,336,816,9,8],"300":[18,16,384,816,9,7],"315":[16,17,432,816,8,8],"330":[15,19,480,816,7,9],"345":[17,19,528,816,8,9],"0":[16,20,576,816,8,9],"15":[17,20,624,816,8,9],"30":[15,19,672,816,7,9],"45":[16,16,720,816,8,7],"60":[18,16,768,816,9,7],"75":[19,17,816,816,9,8],"90":[19,18,864,816,9,8],"105":[19,17,912,816,9,8],"120":[18,16,960,816,9,7],"135":[16,17,1008,816,8,8],"150":[15,19,1056,816,7,9],"165":[17,20,1104,816,8,9]}},"large":{
"default":{
"180":[24,26,0,0,12,12],"195":[24,27,48,0,12,13],"210":[22,26,96,0,11,12],"225":[23,23,144,0,11,11],"240":[24,23,192,0,12,11],"255":[26,24,240,0,13,11],"270":[26,25,288,0,13,12],"285":[26,25,336,0,13,12],"300":[25,23,384,0,12,11],"315":[23,23,432,0,11,11],"330":[22,26,480,0,11,12],"345":[24,27,528,0,12,13],"0":[24,27,576,0,12,13],"15":[24,26,624,0,12,12],"30":[23,25,672,0,11,12],"45":[22,23,720,0,11,11],"60":[25,23,768,0,12,11],"75":[26,25,816,0,13,12],"90":[26,25,864,0,13,12],"105":[25,25,912,0,12,12],"120":[24,23,960,0,12,11],"135":[22,24,1008,0,11,11],"150":[23,26,1056,0,11,12],"165":[24,27,1104,0,12,13],"unknown":[22,22,1152,0,10,10]},"a380":{
"180":[40,38,0,48,20,18],"195":[39,38,48,48,19,18],"210":[36,37,96,48,18,18],"225":[33,35,144,48,16,17],"240":[35,37,192,48,17,18],"255":[37,41,240,48,18,20],"270":[37,41,288,48,18,20],"285":[38,40,336,48,19,19],"300":[36,37,384,48,18,18],"315":[33,34,432,48,16,16],"330":[36,37,480,48,18,18],"345":[39,39,528,48,19,19],"0":[40,37,576,48,20,18],"15":[39,38,624,48,19,18],"30":[36,37,672,48,18,18],"45":[34,34,720,48,17,16],"60":[36,37,768,48,18,18],"75":[37,40,816,48,18,19],"90":[37,42,864,48,18,20],"105":[38,40,912,48,19,19],"120":[36,37,960,48,18,18],"135":[33,34,1008,48,16,16],"150":[37,37,1056,48,18,18],"165":[39,39,1104,48,19,19]},"b747":{
"180":[32,36,0,96,16,17],"195":[31,36,48,96,15,17],"210":[29,35,96,96,14,17],"225":[30,31,144,96,15,15],"240":[33,30,192,96,16,14],"255":[35,32,240,96,17,15],"270":[35,34,288,96,17,16],"285":[35,32,336,96,17,15],"300":[40,34,384,96,20,16],"315":[34,36,432,96,17,17],"330":[34,40,480,96,17,19],"345":[31,36,528,96,15,17],"0":[32,37,576,96,16,18],"15":[31,36,624,96,15,17],"30":[29,34,672,96,14,16],"45":[29,31,720,96,14,15],"60":[34,30,768,96,17,14],"75":[35,33,816,96,17,16],"90":[36,33,864,96,18,16],"105":[35,32,912,96,17,15],"120":[33,30,960,96,16,14],"135":[30,31,1008,96,15,15],"150":[29,34,1056,96,14,16],"165":[31,36,1104,96,15,17]},"a320":{
"180":[26,28,0,144,13,13],"195":[25,28,48,144,12,13],"210":[23,27,96,144,11,13],"225":[23,24,144,144,11,11],"240":[26,23,192,144,13,11],"255":[27,26,240,144,13,12],"270":[27,26,288,144,13,12],"285":[27,25,336,144,13,12],"300":[26,24,384,144,13,11],"315":[23,24,432,144,11,11],"330":[23,27,480,144,11,13],"345":[25,28,528,144,12,13],"0":[25,28,576,144,12,13],"15":[24,27,624,144,12,13],"30":[23,26,672,144,11,12],"45":[23,24,720,144,11,11],"60":[26,24,768,144,13,11],"75":[27,26,816,144,13,12],"90":[28,26,864,144,14,12],"105":[27,26,912,144,13,12],"120":[26,23,960,144,13,11],"135":[23,24,1008,144,11,11],"150":[23,26,1056,144,11,12],"165":[25,28,1104,144,12,13]},"b737":{
"180":[26,28,0,192,13,13],"195":[25,28,48,192,12,13],"210":[23,27,96,192,11,13],"225":[24,25,144,192,12,12],"240":[26,24,192,192,13,11],"255":[27,26,240,192,13,12],"270":[27,26,288,192,13,12],"285":[28,26,336,192,14,12],"300":[26,24,384,192,13,11],"315":[23,24,432,192,11,11],"330":[23,27,480,192,11,13],"345":[25,29,528,192,12,14],"0":[26,28,576,192,13,13],"15":[25,28,624,192,12,13],"30":[23,28,672,192,11,13],"45":[24,25,720,192,12,12],"60":[26,24,768,192,13,11],"75":[27,26,816,192,13,12],"90":[27,27,864,192,13,13],"105":[28,27,912,192,14,13],"120":[26,24,960,192,13,11],"135":[24,25,1008,192,12,12],"150":[23,28,1056,192,11,13],"165":[25,29,1104,192,12,14]},"b777":{
"180":[30,36,0,240,15,17],"195":[29,36,48,240,14,17],"210":[26,34,96,240,13,16],"225":[30,30,144,240,15,14],"240":[33,28,192,240,16,13],"255":[35,30,240,240,17,14],"270":[35,31,288,240,17,15],"285":[34,30,336,240,17,14],"300":[33,27,384,240,16,13],"315":[29,30,432,240,14,14],"330":[27,34,480,240,13,16],"345":[29,36,528,240,14,17],"0":[30,36,576,240,15,17],"15":[29,36,624,240,14,17],"30":[27,34,672,240,13,16],"45":[29,31,720,240,14,15],"60":[34,27,768,240,17,13],"75":[35,30,816,240,17,14],"90":[35,30,864,240,17,14],"105":[35,30,912,240,17,14],"120":[33,28,960,240,16,13],"135":[29,30,1008,240,14,14],"150":[27,34,1056,240,13,16],"165":[29,36,1104,240,14,17]},"b757":{
"180":[27,33,0,288,13,16],"195":[26,33,48,288,13,16],"210":[25,31,96,288,12,15],"225":[27,28,144,288,13,13],"240":[30,25,192,288,15,12],"255":[32,27,240,288,16,13],"270":[32,27,288,288,16,13],"285":[31,27,336,288,15,13],"300":[30,25,384,288,15,12],"315":[27,27,432,288,13,13],"330":[25,31,480,288,12,15],"345":[26,32,528,288,13,15],"0":[27,33,576,288,13,16],"15":[26,33,624,288,13,16],"30":[24,31,672,288,12,15],"45":[27,28,720,288,13,13],"60":[30,25,768,288,15,12],"75":[32,27,816,288,16,13],"90":[32,28,864,288,16,13],"105":[32,27,912,288,16,13],"120":[31,25,960,288,15,12],"135":[27,28,1008,288,13,13],"150":[24,31,1056,288,12,15],"165":[27,33,1104,288,13,16]},"b767":{
"180":[31,35,0,336,15,17],"195":[29,34,48,336,14,16],"210":[27,33,96,336,13,16],"225":[29,30,144,336,14,14],"240":[32,28,192,336,16,13],"255":[34,30,240,336,17,14],"270":[34,31,288,336,17,15],"285":[33,30,336,336,16,14],"300":[32,29,384,336,16,14],"315":[29,30,432,336,14,14],"330":[27,32,480,336,13,15],"345":[29,34,528,336,14,16],"0":[30,35,576,336,15,17],"15":[30,34,624,336,15,16],"30":[28,33,672,336,14,16],"45":[29,29,720,336,14,14],"60":[32,29,768,336,16,14],"75":[33,30,816,336,16,14],"90":[34,31,864,336,17,15],"105":[33,30,912,336,16,14],"120":[32,28,960,336,16,13],"135":[28,30,1008,336,14,14],"150":[28,33,1056,336,14,16],"165":[29,34,1104,336,14,16]},"a330":{
"180":[31,35,0,384,15,17],"195":[31,35,48,384,15,17],"210":[29,34,96,384,14,16],"225":[29,30,144,384,14,14],"240":[32,29,192,384,16,14],"255":[34,32,240,384,17,15],"270":[34,33,288,384,17,16],"285":[34,31,336,384,17,15],"300":[33,29,384,384,16,14],"315":[29,30,432,384,14,14],"330":[29,34,480,384,14,16],"345":[30,36,528,384,15,17],"0":[32,36,576,384,16,17],"15":[30,35,624,384,15,17],"30":[28,33,672,384,14,16],"45":[29,29,720,384,14,14],"60":[33,29,768,384,16,14],"75":[35,32,816,384,17,15],"90":[35,32,864,384,17,15],"105":[34,32,912,384,17,15],"120":[32,29,960,384,16,14],"135":[29,30,1008,384,14,14],"150":[28,33,1056,384,14,16],"165":[31,35,1104,384,15,17]},"a343":{
"180":[32,36,0,432,16,17],"195":[30,35,48,432,15,17],"210":[28,33,96,432,14,16],"225":[29,30,144,432,14,14],"240":[32,29,192,432,16,14],"255":[34,32,240,432,17,15],"270":[35,32,288,432,17,15],"285":[34,32,336,432,17,15],"300":[33,29,384,432,16,14],"315":[29,30,432,432,14,14],"330":[28,33,480,432,14,16],"345":[30,35,528,432,15,17],"0":[32,35,576,432,16,17],"15":[30,35,624,432,15,17],"30":[28,34,672,432,14,16],"45":[29,30,720,432,14,14],"60":[33,29,768,432,16,14],"75":[34,31,816,432,17,15],"90":[35,33,864,432,17,16],"105":[34,31,912,432,17,15],"120":[33,29,960,432,16,14],"135":[29,30,1008,432,14,14],"150":[28,34,1056,432,14,16],"165":[30,36,1104,432,15,17]},"a346":{
"180":[32,39,0,480,16,19],"195":[31,39,48,480,15,19],"210":[29,36,96,480,14,17],"225":[31,32,144,480,15,15],"240":[35,29,192,480,17,14],"255":[38,31,240,480,19,15],"270":[38,33,288,480,19,16],"285":[38,32,336,480,19,15],"300":[36,29,384,480,18,14],"315":[32,33,432,480,16,16],"330":[29,36,480,480,14,17],"345":[31,39,528,480,15,19],"0":[31,40,576,480,15,19],"15":[31,39,624,480,15,19],"30":[29,37,672,480,14,18],"45":[31,33,720,480,15,16],"60":[36,29,768,480,18,14],"75":[38,32,816,480,19,15],"90":[38,32,864,480,19,15],"105":[38,32,912,480,19,15],"120":[36,29,960,480,18,14],"135":[31,32,1008,480,15,15],"150":[28,37,1056,480,14,18],"165":[30,39,1104,480,15,19]},"rjx":{
"180":[24,26,0,528,12,12],"195":[23,26,48,528,11,12],"210":[21,25,96,528,10,12],"225":[22,23,144,528,11,11],"240":[24,23,192,528,12,11],"255":[25,25,240,528,12,12],"270":[25,25,288,528,12,12],"285":[25,24,336,528,12,11],"300":[24,22,384,528,12,10],"315":[21,23,432,528,10,11],"330":[21,25,480,528,10,12],"345":[24,26,528,528,12,12],"0":[24,26,576,528,12,12],"15":[24,26,624,528,12,12],"30":[22,25,672,528,11,12],"45":[22,22,720,528,11,10],"60":[24,22,768,528,12,10],"75":[25,25,816,528,12,12],"90":[25,25,864,528,12,12],"105":[25,25,912,528,12,12],"120":[24,23,960,528,12,11],"135":[22,23,1008,528,11,11],"150":[22,25,1056,528,11,12],"165":[24,26,1104,528,12,12]},"md11":{
"180":[31,37,0,576,15,18],"195":[30,35,48,576,15,17],"210":[28,33,96,576,14,16],"225":[31,31,144,576,15,15],"240":[32,29,192,576,16,14],"255":[35,31,240,576,17,15],"270":[35,31,288,576,17,15],"285":[34,31,336,576,17,15],"300":[32,29,384,576,16,14],"315":[30,31,432,576,15,15],"330":[27,33,480,576,13,16],"345":[30,35,528,576,15,17],"0":[31,36,576,576,15,17],"15":[30,35,624,576,15,17],"30":[28,33,672,576,14,16],"45":[30,31,720,576,15,15],"60":[32,28,768,576,16,13],"75":[35,31,816,576,17,15],"90":[36,32,864,576,18,15],"105":[34,31,912,576,17,15],"120":[32,29,960,576,16,14],"135":[30,31,1008,576,15,15],"150":[28,34,1056,576,14,16],"165":[30,36,1104,576,15,17]},"helo":{
"180":[14,19,0,624,7,9],"195":[16,20,48,624,8,9],"210":[17,20,96,624,8,9],"225":[18,19,144,624,9,9],"240":[19,18,192,624,9,8],"255":[19,17,240,624,9,8],"270":[18,15,288,624,9,7],"285":[19,17,336,624,9,8],"300":[19,18,384,624,9,8],"315":[18,19,432,624,9,9],"330":[17,20,480,624,8,9],"345":[16,20,528,624,8,9],"0":[14,19,576,624,7,9],"15":[16,19,624,624,8,9],"30":[16,20,672,624,8,9],"45":[18,19,720,624,9,9],"60":[19,18,768,624,9,8],"75":[19,17,816,624,9,8],"90":[17,15,864,624,8,7],"105":[19,17,912,624,9,8],"120":[19,18,960,624,9,8],"135":[18,19,1008,624,9,9],"150":[16,20,1056,624,8,9],"165":[16,20,1104,624,8,9]},"md80":{
"180":[25,33,0,672,12,16],"195":[25,34,48,672,12,16],"210":[23,32,96,672,11,15],"225":[27,29,144,672,13,14],"240":[31,24,192,672,15,11],"255":[32,26,240,672,16,12],"270":[33,26,288,672,16,12],"285":[33,26,336,672,16,12],"300":[31,24,384,672,15,11],"315":[27,28,432,672,13,13],"330":[23,32,480,672,11,15],"345":[25,33,528,672,12,16],"0":[26,34,576,672,13,16],"15":[26,34,624,672,13,16],"30":[23,32,672,672,11,15],"45":[28,28,720,672,14,13],"60":[31,24,768,672,15,11],"75":[33,26,816,672,16,12],"90":[32,27,864,672,16,13],"105":[33,26,912,672,16,12],"120":[31,24,960,672,15,11],"135":[28,28,1008,672,14,13],"150":[23,32,1056,672,11,15],"165":[25,34,1104,672,12,16]},"sb20":{
"180":[22,24,0,720,11,11],"195":[22,24,48,720,11,11],"210":[21,22,96,720,10,10],"225":[19,21,144,720,9,10],"240":[22,22,192,720,11,10],"255":[23,23,240,720,11,11],"270":[24,24,288,720,12,11],"285":[23,23,336,720,11,11],"300":[22,21,384,720,11,10],"315":[19,21,432,720,9,10],"330":[21,23,480,720,10,11],"345":[22,24,528,720,11,11],"0":[22,25,576,720,11,12],"15":[22,24,624,720,11,11],"30":[20,23,672,720,10,11],"45":[19,20,720,720,9,9],"60":[22,21,768,720,11,10],"75":[23,23,816,720,11,11],"90":[24,24,864,720,12,11],"105":[23,24,912,720,11,11],"120":[22,22,960,720,11,10],"135":[19,21,1008,720,9,10],"150":[20,22,1056,720,10,10],"165":[22,24,1104,720,11,11]},"c172":{
"180":[20,18,0,768,10,8],"195":[21,19,48,768,10,9],"210":[19,19,96,768,9,9],"225":[18,20,144,768,9,9],"240":[18,20,192,768,9,9],"255":[18,21,240,768,9,10],"270":[17,22,288,768,8,10],"285":[18,22,336,768,9,10],"300":[18,20,384,768,9,9],"315":[18,19,432,768,9,9],"330":[19,19,480,768,9,9],"345":[20,19,528,768,10,9],"0":[21,19,576,768,10,9],"15":[21,19,624,768,10,9],"30":[20,20,672,768,10,9],"45":[19,20,720,768,9,9],"60":[18,20,768,768,9,9],"75":[18,22,816,768,9,10],"90":[18,21,864,768,9,10],"105":[18,22,912,768,9,10],"120":[18,20,960,768,9,9],"135":[19,19,1008,768,9,9],"150":[20,19,1056,768,10,9],"165":[21,19,1104,768,10,9]},"lj45":{
"180":[19,23,0,816,9,11],"195":[20,24,48,816,10,11],"210":[17,23,96,816,8,11],"225":[19,20,144,816,9,9],"240":[21,19,192,816,10,9],"255":[22,20,240,816,11,9],"270":[23,21,288,816,11,10],"285":[22,20,336,816,11,9],"300":[21,19,384,816,10,9],"315":[20,20,432,816,10,9],"330":[17,22,480,816,8,10],"345":[19,24,528,816,9,11],"0":[19,23,576,816,9,11],"15":[20,24,624,816,10,11],"30":[17,23,672,816,8,11],"45":[20,20,720,816,10,9],"60":[21,19,768,816,10,9],"75":[22,20,816,816,11,9],"90":[23,21,864,816,11,10],"105":[22,20,912,816,11,9],"120":[21,19,960,816,10,9],"135":[19,20,1008,816,9,9],"150":[17,22,1056,816,8,10],"165":[20,24,1104,816,10,11]}}};

  function round_to_15(a){
    if(0==a)
      return"unknown";
    a=10*Math.round(a/10);
    switch(a){
      case 0:return 0;
      case 10:return 15;
      case 20:return 15;
      case 30:return 30;
      case 40:return 45;
      case 50:return 45;
      case 60:return 60;
      case 70:return 75;
      case 80:return 75;
      case 90:return 90;
      case 100:return 105;
      case 110:return 105;
      case 120:return 120;
      case 130:return 135;
      case 140:return 135;
      case 150:return 150;
      case 160:return 165;
      case 170:return 165;
      case 180:return 180;
      case 190:return 195;
      case 200:return 195;
      case 210:return 210;
      case 220:return 225;
      case 230:return 225;
      case 240:return 240;
      case 250:return 255;
      case 260:return 255;
      case 270:return 270;
      case 280:return 285;
      case 290:return 285;
      case 300:return 300;
      case 310:return 315;
      case 320:return 315;
      case 330:return 330;
      case 340:return 345;
      case 350:return 345;
      case 360:return 0;
      default:return"unknown"
    }
  }
var markers = [];
    var infowindows = [];

 function initialize() {
    
    var flights = [];
    <% @flights.each do |flight| %>
      flights.push(<%= flight.to_json.html_safe %>);
    <% end %>

    

    var mapOptions = {
      center: new google.maps.LatLng(38.9639605, -77.379074),
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

    setMarkers(map, flights)
  }
  
  var infowindow = new google.maps.InfoWindow;

  function setMarkers(map, flights) {
      
    for (var i = 0; i < flights.length; i++){
      var flight = flights[i];
      var aircraft = flight.aircraft;
      var genericAircraftType = reverseMap[aircraft];
      var roundedDirection = round_to_15(flight.aircraft_track);
      var size = new google.maps.Size(sprite_list["large"][genericAircraftType][roundedDirection][0], sprite_list["large"][genericAircraftType][roundedDirection][1]);
      var origin = new google.maps.Point(sprite_list["large"][genericAircraftType][roundedDirection][2], sprite_list["large"][genericAircraftType][roundedDirection][3]);
      var anchor = new google.maps.Point(sprite_list["large"][genericAircraftType][roundedDirection][4], sprite_list["large"][genericAircraftType][roundedDirection][5]);
      var latlng = new google.maps.LatLng(flight.location[0],flight.location[1]);
      var image = {
        url: "/yellow_large.png",
        //size: new google.maps.Size(27, 29),
        size: size,
        origin: origin,
        anchor: anchor
      };

      var contentString = '<div id="content">'+
          '<h2 id="firstHeading" class="firstHeading">' + flight.IATAflightnum + '</h2>'+
          '<div id="bodyContent">'+
          '<p>' + flight.origin + '->' + flight.destination +'</p>'+
          '</div>'+
          '</div>';
      var marker = new google.maps.Marker({
          position: latlng,
          map: map,
          title:flight.IATAflightnum,
          icon: image,
          content: contentString
      });

      
      //console.log(contentString);

      

      google.maps.event.addListener(marker, 'click', function() {
        
        infowindow.setContent(this.content);
        infowindow.open(map,this);
      });

    }
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  </script>
<body>
<h1>Map</h1>
<p>Google</p>
<div id="map-canvas"/>
</body>
