<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 50% }
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDtYUYuYFNuOocw8X-xEUjD1a6sUduDDg">
</script>
<script type="text/javascript">
  var lat = 0, long = 0;
  function getLocation() {
    if (navigator.geolocation) {
      console.log("wut");
      test = navigator.geolocation.getCurrentPosition(showPosition);
      console.log(lat);
      window.alert("Geolocation is supported by this browser.");
    } else { 
      window.alert("Geolocation is not supported by this browser.");
    }
  }
  function showPosition(position) {
    lat = position.coords.latitude;
    window.alert(lat);
    long = position.coords.longitude; 
  }

  function initialize() {
    getLocation();
    var mapOptions = {
      center: new google.maps.LatLng(38.9639605, -77.379074),
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<h1>Map</h1>
<p>Google</p>
<div id="map-canvas" style="width: 50%; height: 50%"></div>
